.header {
    text-align: center;
    padding: 30px 15px;
}

.header .logo{
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-medio);
    border: 2px solid var(--cor-branca);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    line-height: 57px;
    text-align: center;
    text-decoration: underline;
    transition: 0.2s;
}

.header a:hover .logo{
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
}


.header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: var(--cor-branca);
    text-transform: capitalize;
    color: #dbd1d1;
    font-size: 2rem;
    font-weight: 500 ;
    padding: 10px 20px;
    transition: 0.2s;
    border-radius: 50px;
    letter-spacing: 1px;
    user-select: none;

}

.header .menu{
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/*menu no icone do celular*/
.header .portifolio{
    background-color: var(--cor-branca);
    color: var(--cor-branca);
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 20px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .portifolio:before,
.header .portifolio:after{
    background-color: var(--cor-branca);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.2s ease-in-out;
}

.header .portifolio:before{
    top: -10px;
}

.header .portifolio:after{
    bottom: -10px;
}

.header input{
    display: none;
}

.header nav ul li a:hover {
   background-color: var(--cor-primaria);
}

.header input:checked ~ label .portifolio{
    transform: rotate(45deg);
}

.header input:checked ~ label .portifolio:before{
    transform: rotate(90deg);
    top: 0px;
}

.header input:checked ~ label .portifolio::after{
    transform: rotate(90deg);
    top: 0;
}


@media(max-width: 1280px){
    .header{
        padding: var(--mobile-padding);
    }
}

@media(max-width: 900px){
    .header .menu{
        display: block;
    }
    .header nav input:checked ~ul {
        display: block;
    }
    
    .header nav {
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul{
        display: none;
        background-color: var(--cor-fundo-escuro);
        padding: 20px;
    }

    .header nav li a {
        color: var(--cor-branca);
        text-align: center;
        display: block;
    }
}