/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
*/
html{
    color: var(--cor-branca);
    font-size: 62%;
    font-weight: 300;
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo-cinza-escuro);
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
 .justify-content{
    justify-content: space-between;
 }

 .alinha-itens-centro{
    align-items: center;
 }

.redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.redes-sociais a:hover{
    color: var(--cor-primaria);
}
/*alinhamento vertical*/
.redes-sociais a i{
    line-height: 40px;
}

.outer-shadow{
    box-shadow: 3px -3px #222237, -3px -3px 3px #454545;
}

.inner-shadow{
    box-shadow: inset 3px -3px #222237, -3px -3px 3px #454545;
}

.section{
    padding: rem 0 7rem;
}

.section-title{
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 0;
}

.section-title h2{
    font-size: var(--fonte-grande);
    font-weight: 500;
    text-transform: uppercase;

}

.botao {
    font-size: var(--fonte-normal);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: var(--cor-primaria);
}

.botao:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
}
/*
body {
    background-color: #4f775e;
    font-family: Arial, sans-serif;
    color: #FFFF;
    margin: 0;
    padding: 0;
}

h1 {
    color: #341b44;
    margin: 10px;
}

p {
    font-size: 16px;
}


.projeto {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #FFFF;
}



h2 {
    color: #FFFFFF;
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

html {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #4A4A4A;
    border-radius: 8px;
}

.projeto {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 5px;
    background-color: #3B3B3B;
}

.projeto h3 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #FF008CFF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF0088;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3B3B3B;
    position: relative;
    bottom: 0;
    width: 100%;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
}

.habilidades {
    list-style: none;
    margin-top: 10px;
}

.habilidades li:before{
    content: "-";
    margin-right: 0.5rem;
}